name: portfolio-s3-deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ vars.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ vars.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1
      - name: Build React App
        run:  npm install && npm run build
      - name: Deploy app build to S3 bucket
        env:
          WEBSITE_NAME: ${{ vars.WEBSITE_NAME }}
        run:  aws s3 sync ./dist/ s3://$WEBSITE_NAME
